*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 100vw;
    background-image: url("./media/neonthunder.gif");
    color: whitesmoke;
    overflow-x: hidden;
}
.bg-video video{
    height: 120%;
    /* width: 100%; */
    transform: translate(-25%,-2%);
    filter: contrast(1.2) blur(5px);
    z-index: 1;
    animation: swipeUp 0.8s 6s forwards ease-out;
}
.logo img{
    animation: pulse 1.6s infinite ease-in-out,LogoUp 0.8s 6s forwards ease-out;
    
}
.bg-video{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.logo{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: -1;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
@keyframes swipeUp{
    from{
        
        transform: translateY(-25%,0);
        filter: blur(5px);
        opacity: 1;

    }
    to{
        transform: translate(-25%,-200px);
        filter: blur(100px);
        opacity: 0;
        /* transform: translateY(-100%) */
    }
}
@keyframes LogoUp {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(0,-325px);
    }
}


#unmuteBtn {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#unmuteBtn:hover {
    background-color: rgba(255, 255, 255, 1);
}


/* after Animation backgroud group image */

.bg2{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    overflow-x: hidden;
}
.group-img img{
    height: 100%;
    width: 100%;
    filter: contrast(1.5) saturate(0.9);
    object-fit: cover;
}
.group-img{
    width: 150%;
    transform: translate(-5%,35%);
    animation: GroupImg 0.8s 6.3s backwards ease-out ;
}
.bg2 h3{
    width: 90%;
    transform: translate(0,30%);
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    line-height: 1.2;
    font-style: oblique;
    animation: aboutContent 0.8s 6.5s backwards ease-out ;
}

@keyframes GroupImg {
    from{
        transform: translate(-5%,100%);
        opacity: 0;
    }
    to{
        transform: translate(-5%,35%);
        opacity: 1;
    } 
}
@keyframes aboutContent {
    from{
        transform: translate(0,100%);
        opacity: 0;
    }
    to{
        transform: translate(0,30%);
        opacity: 1;
    }
}